<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feedStyle.css">
</head>
<body>
      
  
     <a class="gopro" href="/profile"><%=wow%></a>
   <div class="container">
         
    <% post.forEach(async function(post){ %>
        <div class="box">
                      <a href="ttps://oriontralelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg" >
                      <img src="/images/uploads/<%=post.image%>" alt="image"></a>
                      <div class="caption">
                        <%=post.postText%>
                        <!-- <a href="/feed/<%= post.user %>">User</a> -->
                        <!-- <% try { %>
                            <% const uid = post.user%>
                            <% const postUser = await user.findOne({_id: uid}); %>
                            <% if (postUser) { %>
                                <p>Posted by: <%= postUser.username %></p>
                            <% } else { %>
                                <p>Unknown User</p>
                            <% } %>
                        <% } catch (error) { %>
                            <p>Error fetching user: <%= error.message %></p>
                        <% } %> -->
                    </div>
        </div> 
          
    <% }) %>
         
         
   
   
   </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
   
</body>
</html>